{% load static %}
<html>
    <head>
        <title>Избирательная комиссия Брянской области</title>
        <meta name="robots" content="index, follow">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/csslist.css' %}">
        <link rel="stylesheet" href="{% static 'css/eventCalendar.css' %}">
	      <link rel="stylesheet" href="{% static 'css/eventCalendar_theme_responsive.css'%}">

    </head>
<body>
<div class="top container">
      <header class="header">
			<div class="top_panel row">
				<div id="search" class="search col-xs-2">
						<form action="/search/">
							<div class="rounded-box">
								<div class="search-inner-box">
									<input type="text" maxlength="50" name="q" placeholder="Поиск">
								</div>
							</div>
						</form>
				</div>
				<div class="col-xs-6">

            <p style="COLOR: #004a80; FONT-SIZE: 14px"><nobr><a href="http://www.cikrf.ru/personal/profile/"><font size="2" face="Arial" color="#003370"><strong>ЛИЧНЫЙ&nbsp;КАБИНЕТ&nbsp;ИЗБИРАТЕЛЯ</strong></font></a><font size="2" face="Arial" color="#003370"><strong> <span style="COLOR: #aaaaff">|</span> </strong></font><a href="http://www.cikrf.ru/services/lk_address/"><font size="2" face="Arial" color="#003370"><strong>НАЙДИ&nbsp;СВОЙ&nbsp;ИЗБИРАТЕЛЬНЫЙ&nbsp;УЧАСТОК</strong></font></a><font size="2" face="Arial" color="#003370"><strong> <span style="COLOR: #aaaaff">|</span>&nbsp;</strong></font><a href="http://www.cikrf.ru/services/lk_mail/"><font size="2" face="Arial" color="#003370"><strong>НАЙДИ&nbsp;СЕБЯ&nbsp;В&nbsp;СПИСКЕ ИЗБИРАТЕЛЕЙ</strong></font></a></nobr></p>
				</div>
				<div class="cecutient col-xs-4">
					<!--<a id="uhvb" href="javascript:void(0);" onclick="uvcl()" class="in_cecutient">Ресурс для слабовидящих</a>-->
					<a id="uhvb" href="http://mrfor.pythonanywhere.com/" onclick="uvcl()" class="in_cecutient"></a>
				</div>
			</div>
			<div class="logo_block">
        				<h1 class="logo col-xs-12">
                    					<a href="http://mrfor.pythonanywhere.com/"><img style="margin-top:20px" src="{% static "img/content/logo1.png" %}"></a>
                    					<span style="FONT-FAMILY: Courier New; MARGIN-LEFT: 50px">
                                    <p style="TEXT-ALIGN: center"><span style="COLOR: #005b7e"><font size="6" face="Arial">ИЗБИРАТЕЛЬНАЯ КОМИССИЯ
                                          <br>
                                        БРЯНСКОЙ ОБЛАСТИ</font></span></p>
                                  </span>					<a href="http://mrfor.pythonanywhere.com/"><img style="margin-top:20px; float:right;" src="{% static "img/content/logo5.png" %}"></a>
                                  </h1>
                    				<div class="logo_panel col-xs-12">
                    					<data class="data">26 декабря 2018,&nbsp;08:18</data>
                    					<a href="javascript:window.print();" class="print">Версия для печати</a>
        				            </div>
			</div>
		</header>

      <nav class="top_nav">
			<ul class="nav nav-justified">
							<li ><a href="http://www.bryansk.vybory.izbirkom.ru/bryansk/ik">Избирательные комиссии</a></li>
							<li ><a href="http://www.bryansk.vybory.izbirkom.ru/region/bryansk/">Выборы и референдумы</a></li>
							<li ><a href="http://www.bryansk.izbirkom.ru/chislennost-izbirateley/">Численность избирателей</a></li>
							<li ><a href="http://www.bryansk.vybory.izbirkom.ru/bryansk/npa">Нормативная база</a></li>
							<li ><a href="http://www.cikrf.ru/law/federal_law/">Федеральное законодательство</a></li>
			</ul>
  		</nav>
      <div class="content row">
      <!--ЛЕвый-->
      <aside class="left_block col-xs-3">
				<ul class="border_bg nav nav_list">
                  <details>
                    <summary class="treeHTML"><font color ='#005e9e'>ТИК 1</font></summary>
                    <div><font color ='#005e9e'>О комиссии</font></div>
                    <div><font color ='#005e9e'>Докуметы ТИК</font></div>
                  </details>
              </li>
              <li>
                  <details>
                    <summary class="treeHTML"><font color ='#005e9e'>ТИК 2</font></summary>
                    <div><font color ='#005e9e'>О комиссии</font></div>
                    <div><font color ='#005e9e'>Докуметы ТИК</font></div>
                  </details>
              </li>
              <li>
                  <details>
                    <summary class="treeHTML"><font color ='#005e9e'>ТИК 3</font></summary>
                    <div><font color ='#005e9e'>О комиссии</font></div>
                    <div><font color ='#005e9e'>Докуметы ТИК</font></div>
                  </details>
              </li>
              <li>
                  <details>
                    <summary class="treeHTML"><font color ='#005e9e'>ТИК 4</font></summary>
                    <div><font color ='#005e9e'>О комиссии</font></div>
                    <div><font color ='#005e9e'>Докуметы ТИК</font></div>
                  </details>
              </li>
              <li>
                  <details>
                    <summary class="treeHTML"><font color ='#005e9e'>ТИК 5</font></summary>
                    <div><font color ='#005e9e'>О комиссии</font></div>
                    <div><font color ='#005e9e'>Докуметы ТИК</font></div>
                  </details>
              </li>
				</ul>
        <ul class="border_bg nav nav_list">
							<li ><a href="http://www.bryansk.vybory.izbirkom.ru/bryansk/ik">О комиссии</a></li>
							<li ><a href="news/index.html">Новости</a></li>
							<li ><a href="zakonodatelstvo-o-vyborakh-i-referendumakh/index.html">Законодательство о выборах и референдумах</a></li>
							<li ><a href="dokumenty-izbiratelnoy-komissii/index.html">Документы избирательной комиссии</a></li>
							<li ><a href="regionalnye-otdeleniya-pp-v-ra/index.html">Политические партии</a></li>
							<li ><a href="chislennost-izbirateley/index.html">Численность избирателей</a></li>
							<li ><a href="informatsionnoe-obespechenie/index.html">Информационное обеспечение</a></li>
							<li ><a href="obuchenie/index.html">Обучение</a></li>
							<li ><a href="sudebnaya-praktika/index.html">Судебная практика</a></li>
							<li ><a href="razdel-dlya-molodezhi/index.html">Раздел для молодежи</a></li>
							<li ><a href="priemnaya-tsik-rossii/index.html">Приемная избирательной комиссии</a></li>
							<li ><a href="arkhiv-vyborov-i-referendumov/index.html">Архив выборов и референдумов</a></li>
							<li ><a href="sitemap/index.html">Карта сайта</a></li>
				</ul>
			</aside>
      <!--Центр-->

      <section class="center_block col-xs-6">
        <article class="grey_bg">

          <ul class="nav nav-tabs">
						<li class="active"><a href="#">КАРТА КОМИССИЙ</a></li>
					</ul>
          <img src="{% static "img/Admin-map-Bryansk-region.gif" %}" alt="My image">

          <ul class="nav nav-tabs">
						<li class="active"><a href="#">НОВОСТИ</a></li>
					</ul>
          <div class="tab-content">
    						<div class="tab-pane active">
    							<figure class="news_list">
                {% block content %}
                {% endblock %}
              </div>
          </div>

        </article>
    </section>

      <!--правый сайдбар-->
			<aside class="right_block col-xs-3">
        				<nav class="border_bg">
                      <!--Календарь-->
                      <h1>Календарь выборов</h1>
                      <div id="eventCalendar" style="width: 300px; margin: 50px auto;"></div>
                      <script src="http://code.jquery.com/jquery.min.js"></script>
                    	<script src="{% static 'js/moment.js'%}"></script>
                    	<script src="{% static 'js/jquery.eventCalendar.js'%}"></script>
                    	<script>
                      $(function(){
                        		var data = [
                        			{ "date": "2017-04-21 10:15:20", "title": "Событие 1", "description": "Lorem Ipsum dolor set", "url": "http://www.event3.com/" },
                        			{ "date": "2017-04-18 10:15:20", "title": "Событие 2", "description": "Lorem Ipsum dolor set", "url": "" },
                        			{ "date": "2017-04-01 10:15:20", "title": "Событие 3", "description": "Lorem Ipsum dolor set", "url": "http://www.event3.com/" },
                        			{ "date": "2017-04-25 10:15:20", "title": "Событие 4", "description": "Lorem Ipsum dolor set", "url": "http://www.event3.com/" },
                        		];
                        		$('#eventCalendar').eventCalendar({
                        			jsonData: data,
                        			eventsjson: 'data.json',
                        			jsonDateFormat: 'human',
                        			startWeekOnMonday: false,
                        			openEventInNewWindow: true,
                        			dateFormat: 'DD-MM-YYYY',
                        			showDescription: false,
                        			locales: {
                        				locale: "ru",
                        				txt_noEvents: "Нет запланированных событий",
                        				txt_SpecificEvents_prev: "",
                        				txt_SpecificEvents_after: "события:",
                        				txt_NextEvents: "Следующие события:",
                        				txt_GoToEventUrl: "Смотреть",
                        				moment: {
                        					"months" : [ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
                        					"Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
                        					"monthsShort" : [ "Янв", "Фев", "Мар", "Апр", "Май", "Июн",
                        					"Июл", "Авг", "Сен", "Окт", "Ноя", "Дек" ],
                        					"weekdays" : [ "Воскресенье", "Понедельник","Вторник","Среда","Четверг",
                        					"Пятница","Суббота" ],
                        					"weekdaysShort" : [ "Вс","Пн","Вт","Ср","Чт",
                        					"Пт","Сб" ],
                        					"weekdaysMin" : [ "Вс","Пн","Вт","Ср","Чт",
                        					"Пт","Сб" ]
                        				}
                        			}
                        		});
                        	});
                        	</script>
                      <!--Календарь-->
                  <ul class="nav nav_list border_nav_list">
        							<li ><a href="kontrolno-revizionnaya-sluzhba-pri-tsik/index.html">Контрольно-ревизионная служба при Избирательной комиссии</a></li>
        							<li ><a href="akkreditatsiya-smi/index.html">Аккредитация СМИ</a></li>
        							<li ><a href="obrashcheniya-o-narushenii-izbiratelnogo-zakonodatelstva/index.html">Обращения о нарушениях избирательного законодательства</a></li>
        							<li ><a href="povyshenie-pravovoy-kultury-izbirateley/index.html">Повышение правовой культуры избирателей</a></li>
        							<li ><a href="obyavlenie-tsik/index.html">Объявления Избирательной комиссии Брянской области</a></li>
        							<li ><a href="kadry/index.html">Кадры</a></li>
        							<li ><a href="informatsiya-o-zakupkakh-tovarov-rabot-uslug-dlya-obespecheniya-nuzhd-tsik/index.html">Информация о закупках товаров, работ, услуг для обеспечения нужд Избирательной комиссии</a></li>
        							<li ><a href="formirovanie-uchastkovykh-izbiratelnykh-komissiy/index.html">Формирование участковых избирательных комиссий и резерва составов участковых комиссий</a></li>
        							<li ><a href="ispolzovannie-pri-golosovanii-na-vyborakh-referendumakh-kompleksov-obrabotki-izbiratelnykh-byulleten/index.html">Использование при голосовании на выборах, референдумах комплексов обработки избирательных бюллетеней, средствами видеонаблюдения и трансляции изображения</a></li>
        							<li ><a href="voprosy-protivodeystviya-korruptsii/index.html">Вопросы противодействия коррупции</a></li>
        					</ul>
        					<ul class="nav nav_list border_nav_list">
        							<li ><a href="arkhiv-novostei/index.html">Архив новостей</a></li>
        							<li ><a href="arkhiv-dokumentov/index.html">Архив документов</a></li>
        							<li ><a href="gallery/index.html">Фотоальбом</a></li>
        							<li ><a href="search/index.html">Поиск</a></li>
        					</ul>
        				</nav>
          			</aside>
    </div>

        <footer>
      			<div class="footer_bg">
      			<div class="footer_bg2">
      				<div class="col-xs-3">
      					<div class="footer_title">РАЗДЕЛЫ</div>
      					<ul class="nav footer_list">
      							<li ><a href="http://www.bryansk.vybory.izbirkom.ru/bryansk/ik">О комиссии</a></li>
      							<li ><a href="dokumenty-izbiratelnoy-komissii/index-2.html">Документы Избирательной комиссии</a></li>
      							<li ><a href="http://www.bryansk.vybory.izbirkom.ru/region/bryansk">Информация о выборах и референдумах</a></li>
      							<li ><a href="zakonodatelstvo-o-vyborakh-i-referendumakh/index-2.html">Законодательство о выборах и референдумах</a></li>
      							<li ><a href="razdel-dlya-molodezhi/index.html">Раздел для молодежи</a></li>
      							<li ><a href="priemnaya-tsik-rossii/index.html">Приемная Избирательной комиссии</a></li>
      					</ul>
      				</div>
      				<div class="col-xs-3">
      					<div class="footer_title">О САЙТЕ</div>
      					<ul class="nav footer_list">
      							<li ><a href="about/index.html">О сайте</a></li>
      							<li ><a href="sitemap/index.html">Карта сайта</a></li>
      					</ul>
      				</div>
      				<div class="col-xs-3">
      					<!--<div class="footer_title">ДОПОЛНИТЕЛЬНО</div>
      					<ul class="nav footer_list social_list">
      						<li><a class="rss" href="/news/rss/">RSS-подписка на новости</a></li>
      						<li><a class="mail" href="/subscribe/">E-mail подписка на новости</a></li>
      					</ul>-->
      				</div>
      				<div class="col-xs-3 search_bg">
      					<div id="search2" class="search">
      						<form action="http://mrfor.pythonanywhere.com/">
              	<div class="rounded-box">
              		<div class="search-inner-box">
              			<input type="text" maxlength="50" name="q" placeholder="Поиск" >
              		</div>
              	</div>
              </form>
            </div>
      					<p>Расширенный поиск</p>
      				</div>
      			</div>
      			</div>
      			<div class="footer_panel row">
      				<div class="col-xs-6">
                  <p>&copy; Избирательная комиссия Брянской области</p>
      				</div>
      				<address class="address col-xs-6">
                  <p>241002, Брянск, пр-т Ленина, д. 33 тел.: 8(4832)74-08-52, 74-08-96 (факс) </p>
                  <p>e-mail: <a href="mailto:ikbo@mail.ru">ikbo@mail.ru</a> </p>
      				</address>
      			</div>
      		</footer>

      </div>
    </body>
</html>
